# Auto detect text files and perform LF normalization
* text=auto

# YAML and config files
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf

# Python files
*.py text eol=lf

# Documentation
*.md text eol=lf

# Shell scripts
*.sh text eol=lf
